{
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "cssEnable": [
    "css",
    "less",
    "sass",
    "scss"
  ],
  "jsonEnable": [
    "json",
    "jsonc"
  ]
}